.body{
  background-color:#f5f5f5;
  padding-top: 1.5cm;
  padding-bottom: 1.5cm;
  min-height: 100vh;
}

.card{
  width: 400px;
  text-align: center;
  box-shadow: 10px 10px 10px 10px rgba(65, 47, 47, 0.25);
  border-color: #f5f5f5;
}

.operations h3{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
}

.button1 {
  background-color: blue;
  color: white;
  border: 2px solid white; 
  width: 40px;
  height: 40px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 50%;
}

.button1:hover {
  background-color: gray;
  color:black;
  text-shadow:none;
}

.button1:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
              inset 2px 2px 3px rgba(0, 0, 0, .6);
}
.button2 {
  background-color: green;
  color: white;
  border: 2px solid white; /* Green */
  width: 40px;
  height: 40px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 50%;
}

.button2:hover {
  background-color: gray;
  color:black;
  text-shadow:none;
}

.button2:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
              inset 2px 2px 3px rgba(0, 0, 0, .6);
}
.button3 {
  background-color: white;
  color: black;
  border: 2px solid black; 
  width: 30px;
  height: 30px;
  font-weight: bold;
  font-size: 15px;
  border-radius: 50%;
}


.button4 {
  background-color: red;
  color: white;
  border: 2px solid white; 
  width: 40px;
  height: 40px;
  font-size: 20px;
  border-radius: 50%;
}

.button4:hover {
  background-color: gray;
  color:black;
  text-shadow:none;
}

.button4:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
              inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.input1{
  border-color: black;
  width: 120px;
}

h4{
  background-color: green;
  box-shadow: inset;  
  width: 120px;
  font-weight: bold;
  color: white
}